@use "variable" as v;
@use "common" as c;
/*************************************************
アニメーション
*************************************************/
.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.active {
  opacity: 1;
  transform: translateY(0);
}
