@use "variable" as v;
@use "common" as c;
/*************************************************
footer
*************************************************/
footer {
  padding: 6rem 0 3rem;
  background: url(images/common/footer_bg.jpg) no-repeat center/cover;
  p,
  h5 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: #fff;
  }
  .logo {
    width: 25rem;
    margin-bottom: 3.7rem;
  }
  .flex {
    gap: 16rem;
    margin-bottom: 5rem;
  }
  .right {
    h5 {
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
}
