@use "variable" as v;
@use "common" as c;
/*************************************************
footer
*************************************************/
footer {
  position: relative;
  padding: 6rem 0 3rem;
  background: url(images/common/footer_bg.jpg) no-repeat center/cover;
  @include c.mq() {
    background: url(images/common/footer_bg_sp.png) no-repeat center/cover;
  }
  p,
  h5 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: #fff;
  }
  .logo {
    width: 25rem;
    margin-bottom: 3.7rem;
  }
  .flex {
    gap: 16rem;
    margin-bottom: 5rem;
    @include c.mq() {
      flex-direction: column;
      gap: 4rem;
    }
  }
  .right {
    h5 {
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  .to-top {
    position: absolute;
    top: -7.5rem;
    right: 0;
    width: 7.5rem;
    aspect-ratio: 1/1;
    background: v.$grade01;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
