@use "variable" as v;
@use "common" as c;
/*************************************************
header
*************************************************/
header {
  position: absolute;
  width: 100%;
  padding: 2.4rem v.pxtovw(15) 1.5rem v.pxtovw(121);
  z-index: 999;
  a,
  p {
    color: #fff;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    aspect-ratio: 1/0.3;
    background-color: #fff;
    a {
      color: v.$main-txt;
    }
  }
  .flex {
    gap: 5.5rem;
    align-items: center;
  }
  .nav01 {
    ul {
      display: flex;
      gap: 2.4rem;
      li {
        a {
          font: 1.4rem;
          font-weight: 700;
          letter-spacing: 0;
        }
      }
    }
  }
  .nav02 {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    .header-tel {
      a {
        display: flex;
        font-size: 2.4rem;
        line-height: 1;
        letter-spacing: 2px;
        font-weight: 700;
        img {
          margin-top: 2px;
        }
      }
      p {
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 0.6px;
      }
    }
    .header-contact {
      width: 21rem;
      aspect-ratio: 1/0.25;
      background: v.$grade01;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        letter-spacing: 0;
      }
    }
  }
}
