@use "variable" as v;
@use "common" as c;
/*************************************************
top
*************************************************/
.mv {
  position: relative;
  width: 100vw;
  height: 100svh;
  min-height: 80rem;
  background: url(images/common/mv_pc.png) no-repeat top right/cover;
  margin-left: v.pxtovw(60);
  border-bottom-left-radius: 15rem;
  @include c.mq() {
    height: 57rem;
    min-height: auto;
    background: url(images/common/mv_pc.png) no-repeat center/cover;
    border-bottom-left-radius: 5rem;
  }
  .mv-content {
    padding-top: v.pxtovw(190);
    padding-left: v.pxtovw(60);
    @include c.mq() {
      padding-top: v.pxtovw_sp(80);
    }
    .subttl-wrap {
      display: inline-block;
      background-color: v.$sub-color01;
      margin-bottom: 2.5rem;
      @include c.mq() {
        margin-bottom: 1rem;
      }
      .subttl {
        padding: 1rem 2rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 1px;
        background: v.$grade01;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        @include c.mq() {
          font-size: 1.8rem;
          padding: 1rem 0.7rem;
        }
        .out {
          font-size: 2.9rem;
          margin: 0 0.3rem;
          @include c.mq() {
            font-size: 2rem;
          }
        }
      }
    }
    h1 {
      font-size: 4.8rem;
      font-weight: 700;
      letter-spacing: 1.5px;
      color: #fff;
      margin-bottom: 3.4rem;
      filter: drop-shadow(v.$shadow03);
      @include c.mq() {
        font-size: 3rem;
        line-height: 1.5;
        margin-bottom: 2.4rem;
      }
    }
    .logo {
      font-size: 2rem;
      font-weight: 500;
      color: #fff;
      @include c.mq() {
        width: 28rem;
      }
      img {
        filter: drop-shadow(v.$shadow03);
        @include c.mq() {
          width: 100%;
        }
      }
      span {
        font-size: 4rem;
      }
    }
  }
  .gekkeizyu {
    width: 60rem;
    position: absolute;
    left: v.pxtovw(60);
    bottom: 7.3rem;
    filter: drop-shadow(v.$shadow01);
    @include c.mq() {
      width: 34rem;
      bottom: 15rem;
    }
  }
  .contact-btn {
    width: 28.4rem;
    position: absolute;
    right: 12rem;
    bottom: 7.3rem;
    filter: drop-shadow(v.$shadow02);
    @include c.mq() {
      right: 3rem;
      bottom: -2rem;
      width: 15rem;
      z-index: 3;
    }
  }
}

.wrap_concept {
  position: relative;
  padding: 13.4rem 0 26.2rem;
  background: v.$grade02;
  z-index: 1;
  @include c.mq() {
    padding: 6rem 0 8rem;
  }
  h2 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 7.5rem;
    @include c.mq() {
      font-size: 2.2rem;
      margin-bottom: 3.5rem;
      letter-spacing: 0;
    }
    span {
      position: relative;
      display: inline-block;
      color: #fff;
      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        height: 100%;
        background: v.$grade01;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
      }
      &.txt01 {
        &::before {
          width: 537px;
          height: 62px;
          @include c.mq() {
            width: 242px;
            height: 26px;
          }
        }
      }
      &.txt02 {
        &::before {
          width: 247px;
          height: 62px;
          @include c.mq() {
            width: 111px;
            height: 26px;
          }
        }
      }
    }
  }
  p {
    max-width: 53.2rem;
  }
  .big-tshirt {
    position: absolute;
    top: 9.6rem;
    right: -4.7rem;
    width: min(v.pxtovw(600), 60rem);
    @include c.mq() {
      display: none;
    }
  }
}

.wrap_gallery {
  position: relative;
  width: 100%;
  z-index: 1;
  .swiper-wrapper {
    transition-timing-function: linear !important;
    .swiper-slide {
      img {
        width: 100%;
      }
    }
  }
  .message {
    width: 73.5rem;
    position: absolute;
    bottom: -15rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    @include c.mq() {
      width: 47rem;
      bottom: -11rem;
    }
  }
}

.wrap_service {
  position: relative;
  padding: 27rem 0 29.6rem;
  background: url(images/common/service_bg01.svg) no-repeat top/101%,
    url(images/common/service_bg02.svg) no-repeat bottom/contain, v.$sub-color03;
  @include c.mq() {
    padding: 17rem 0 15rem;
    background: url(images/common/service_bg01_sp.svg) no-repeat top/contain,
      url(images/common/service_bg02.svg) no-repeat bottom/contain,
      v.$sub-color03;
  }
  .ttl-wrap {
    margin-bottom: 7rem;
    @include c.mq() {
      margin-bottom: 5rem;
    }
  }
  .flex {
    width: 115.8rem;
    margin: 0 auto;
    flex-wrap: wrap;
    column-gap: 5.5rem;
    row-gap: 6rem;
    @include c.mq() {
      width: 100%;
    }
    .box {
      width: calc((100% / 3) - (11rem / 3));
      @include c.mq() {
        width: 90%;
        margin: 0 auto;
      }
      .img-box {
        margin-bottom: 0.5rem;
      }
      .ttl {
        position: relative;
        display: flex;
        margin-bottom: 1.7rem;
        z-index: 0;
        img {
          position: absolute;
          top: -2.5rem;
          width: 9rem;
          padding: 1rem 1rem 0 0;
          background-color: v.$sub-color03;
          border-top-right-radius: 5px;
        }
        h3 {
          position: relative;
          padding-left: 7.5rem;
          z-index: 1;
          font-size: 2.4rem;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 1.3;
          display: inline-block;
          background: v.$grade01;
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
          @include c.mq() {
            font-size: 2rem;
            padding-left: 8.5rem;
          }
        }
      }
      p {
        line-height: 1.5;
      }
    }
  }
  .txt-slider {
    position: absolute;
    bottom: 7rem;
    width: 100%;
    @include c.mq() {
      bottom: 0;
    }
    .swiper-wrapper {
      transition-timing-function: linear !important;
      .swiper-slide {
        img {
          width: 100%;
        }
      }
    }
  }
}

.wrap_lineup {
  position: relative;
  padding: 10rem 0 30rem;
  margin-top: -9rem;
  z-index: 1;
  @include c.mq() {
    padding: 14rem 0 15rem;
  }
  .ttl-wrap {
    margin-bottom: 7rem;
  }
  .flex {
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 5rem;
    @include c.mq() {
      row-gap: 7rem;
    }
    .item {
      width: calc((100% / 3) - 2rem);
      @include c.mq() {
        width: 100%;
      }
      .item-img_wrapper {
        display: flex;
        gap: 1rem;
        width: 100%;
        height: 300px;
        margin-bottom: 2rem;
        @include c.mq() {
          margin-bottom: 1rem;
        }
        .main-image,
        .swiper-slide {
          box-shadow: v.$shadow01;
        }
        .main-image {
          width: 300px;
          height: 100%;
          a {
            display: block;
            height: 100%;
          }
        }
        .thumbnails-container {
          position: relative;
          width: 70px;
          height: 100%;
          .swiper-thumbnails {
            height: 100%;
            .swiper-button-next,
            .swiper-button-prev {
              &::after {
                display: none;
              }
            }
            .swiper-button-next {
              top: auto;
              bottom: 0;
              right: 0;
              width: 100%;
              height: 17px;
              background-color: rgba($color: #fff, $alpha: 0.7);
            }
            .swiper-button-prev {
              top: 0;
              left: 0;
              margin-top: 0;
              width: 100%;
              height: 17px;
              background-color: rgba($color: #fff, $alpha: 0.7);
            }
          }
        }
      }
      .name {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-bottom: 0.5rem;
        @include c.mq() {
          font-size: 1.8rem;
        }
      }
      .price {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        span {
          font-size: 1.2rem;
        }
      }
      .text {
        line-height: 1.5;
        margin-bottom: 2.2rem;
        min-height: 10rem;
        @include c.mq() {
          margin-bottom: 1.5rem;
        }
      }
      .variant-color,
      .variant-size {
        margin-bottom: 1rem;
        dl {
          dt {
            position: relative;
            padding: 0.8rem 0;
            font-size: 1.8rem;
            font-weight: 700;
            color: #fff;
            text-align: center;
            background-color: v.$sub-color01;
            &::before {
              content: "";
              width: 14px;
              aspect-ratio: 1/0.55;
              background: url(images/common/icon-arrow01_vertical.svg) no-repeat
                center/contain;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 3rem;
            }
            @include c.mq() {
              font-size: 1.6rem;
            }
          }
          dd {
            padding: 1.5rem 0;
            img {
              @include c.mq() {
                width: 100%;
              }
            }
          }
          &.open {
            dt {
              &::before {
                top: 35%;
                rotate: 180deg;
              }
            }
          }
        }
      }
      .variant-size {
        margin-bottom: 2rem;
      }
      .item-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        aspect-ratio: 1/0.14;
        border-radius: 100vmax;
        background: v.$grade01;
        font-weight: 700;
        color: #fff;
        img {
          width: 2.1rem;
        }
      }
    }
  }
}

.wrap_flow {
  position: relative;
  padding: 11.7rem 0 30rem;
  background: url(images/common/flow_bg.svg) no-repeat bottom/contain,
    v.$grade03;
  @include c.mq() {
    padding: 10rem 0 18rem;
    background: url(images/common/flow_bg_sp.svg) no-repeat bottom/contain,
      v.$grade03;
  }
  &::before {
    position: absolute;
    top: v.pxtovw(-150);
    left: 0;
    content: "";
    width: 100%;
    aspect-ratio: 1/0.15;
    background: url(images/common/lineup_bg.svg) no-repeat center/contain;
    @include c.mq() {
      top: v.pxtovw_sp(-60);
      aspect-ratio: 1/0.22;
      background: url(images/common/lineup_bg_sp.svg) no-repeat center/cover;
    }
  }
  .ttl-wrap {
    margin-bottom: 7rem;
    @include c.mq() {
      margin-bottom: 7rem;
    }
  }
  .block {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 106rem;
    margin: 0 auto;
    z-index: 0;
    @include c.mq() {
      gap: 7rem;
    }
    .flow-line {
      width: 15.35rem;
      position: absolute;
      top: 11.5rem;
      left: 46.65rem;
      z-index: -1;
      @include c.mq() {
        display: none;
      }
    }
    .box {
      position: relative;
      width: 90%;
      max-width: 48.6rem;
      padding: 3.5rem 2rem 2rem;
      background-color: #f6f3e7;
      border: 4px solid #fff;
      border-radius: 10px;
      box-shadow: v.$shadow04;
      @include c.mq() {
        width: 100%;
        padding: 10rem 1rem 2rem;
      }
      &::after {
        content: "";
        position: absolute;
        top: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 8rem;
        height: 2rem;
        background-color: #f6f3e7;
      }
      .img-box {
        position: absolute;
      }
      .number {
        font-size: 4rem;
        font-weight: 700;
        position: absolute;
        top: -2.8rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
      h3 {
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        color: v.$sub-color02;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.5rem;
        @include c.mq() {
          line-height: 1.5;
        }
      }
      &:first-of-type {
        max-height: 27.5rem;
        @include c.mq() {
          max-height: none;
        }
        .img-box {
          width: 14.8rem;
          top: -6.6rem;
          left: -2.2rem;
          @include c.mq() {
            width: 8rem;
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .contact {
          justify-content: space-between;
          align-items: flex-end;
          margin-top: 1.5rem;
          @include c.mq() {
            margin-top: 2rem;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
          }
          .tel {
            a {
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1;
              letter-spacing: 1px;
            }
            p {
              font-size: 1.1rem;
            }
          }
          .btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 23rem;
            aspect-ratio: 1/0.21;
            border-radius: 100vmax;
            font-weight: 700;
            color: #fff;
            background: v.$grade01;
            @include c.mq() {
              width: 100%;
              aspect-ratio: 1/0.17;
            }
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 2rem;
              width: 2.2rem;
              aspect-ratio: 1/0.55;
              background: url(images/common/icon-arrow01.svg) no-repeat
                center/contain;
            }
          }
        }
      }
      &:nth-of-type(2) {
        max-height: 22.4rem;
        margin-top: 10.5rem;
        margin-bottom: 5.1rem;
        @include c.mq() {
          max-height: none;
          margin: 0;
        }
        .img-box {
          width: 13.1rem;
          top: -10.1rem;
          right: -4.2rem;
          @include c.mq() {
            width: 6rem;
            top: 3rem;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &:nth-of-type(3) {
        max-height: 24.5rem;
        @include c.mq() {
          max-height: none;
        }
        .img-box {
          width: 12rem;
          top: -5.1rem;
          left: -2.2rem;
          @include c.mq() {
            width: 6.5rem;
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .cash {
          position: relative;
          background-color: #fff;
          border-radius: 5px;
          margin-top: 1.5rem;
          padding: 1rem 1.5rem;
          @include c.mq() {
            padding: 1rem 1.5rem 5rem;
            display: flex;
            gap: 2rem;
          }
          h4 {
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
            @include c.mq() {
              font-size: 1.5rem;
            }
          }
          p {
            font-size: 1.5rem;
            @include c.mq() {
              font-size: 1.4rem;
            }
          }
          img {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            width: 20rem;
            @include c.mq() {
              right: auto;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
      &:nth-of-type(4) {
        margin-top: 11rem;
        margin-bottom: 3.2rem;
        @include c.mq() {
          margin: 0;
        }
        .img-box {
          width: 18.2rem;
          top: -8.2rem;
          left: -1.8rem;
          @include c.mq() {
            width: 8.5rem;
            top: 3rem;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &:nth-of-type(5) {
        .img-box {
          width: 21.6rem;
          bottom: -3.7rem;
          right: -11.1rem;
          @include c.mq() {
            width: 12.5rem;
            top: 3rem;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}

.wrap_faq {
  position: relative;
  // padding: 4rem 0 13.3rem;
  margin-top: -1px;
  padding: 10rem 0 13.3rem;
  // margin-top: -6rem;
  background: url(images/common/faq_bg.svg) no-repeat top/cover;
  @include c.mq() {
    padding: 5rem 0 6rem;
    background: url(images/common/faq_bg_sp.svg) no-repeat top/cover;
  }
  .ttl-wrap {
    div {
      color: #fff;
    }
    h2 {
      color: #fff;
    }
  }
  .qa-list {
    max-width: 80rem;
    margin: 0 auto;
    .qa {
      padding: 0 3rem;
      margin-bottom: 2rem;
      background-color: #323542;
      border-radius: 5px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25),
        -5px -4px 8px rgba(255, 255, 255, 0.18);
      @include c.mq() {
        padding: 0 1rem;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      dt,
      dd {
        display: flex;
        gap: 2rem;
        color: #fff;
        padding: 1.5rem 0;
        @include c.mq() {
          gap: 1rem;
        }
      }
      dt {
        position: relative;
        align-items: center;
        font-weight: 700;
        @include c.mq() {
          max-width: 30rem;
          align-items: flex-start;
        }
        &::before {
          content: "";
          width: 16px;
          aspect-ratio: 1/0.55;
          background: url(images/common/icon-arrow01_vertical.svg) no-repeat
            center/contain;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 3rem;
          @include c.mq() {
            width: 12px;
            top: 2.7rem;
            transform: none;
            right: -2rem;
          }
        }
        img {
          @include c.mq() {
            width: 2.5rem;
            margin-top: 1px;
          }
        }
      }
      dd {
        align-items: flex-start;
        border-top: 1px solid #fff;
        img {
          @include c.mq() {
            width: 2.5rem;
          }
        }
      }
      &.open {
        dt {
          &::before {
            top: 35%;
            rotate: 180deg;
          }
        }
      }
    }
  }
}

.wrap_form {
  margin-top: -1px;
  padding: 16.8rem 0 17rem;
  background: url(images/common/form_bg.svg) no-repeat top / contain;
  @include c.mq() {
    padding: 15rem 0 15rem;
    background: url(images/common/form_bg_sp.svg) no-repeat top / contain;
  }
  .txt {
    text-align: center;
    margin-bottom: 3.4rem;
  }
  .form-rocess {
    @include c.mq() {
      // width: 80%;
      // margin: 0 auto;
      position: relative;
      width: 100%;
      z-index: 2;
    }
  }
  .simulation_wrap {
    padding: 5rem 0;
    background-color: v.$sub-color03;
    @include c.mq() {
      padding: 10rem 0 4rem;
      margin-top: -16rem;
      width: 100vw;
      margin-left: calc(((100vw - 90vw) / 2) * -1);
    }
    .add-wrap {
      .btn-add {
        width: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        color: v.$sub-color02;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        img {
          margin-top: 2px;
        }
      }
    }
    .simu-content {
      position: relative;
      padding: 3rem 4rem;
      width: 90%;
      max-width: 92rem;
      margin: 0 auto 3rem;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: v.$shadow05;
      overflow: hidden;
      @include c.mq() {
        padding: 3rem 1.5rem 1rem;
      }
      &:first-child {
        padding-top: 8rem;
      }
      &:nth-child(n + 2) {
        margin-top: 6rem;
        padding-top: 5rem;
        @include c.mq() {
          margin-top: 4rem;
          padding-top: 3rem;
        }
      }
      input,
      select {
        font-size: 1.6rem;
        font-weight: 500;
        border: 1px solid #777;
      }
      .select-wrap {
        position: relative;
        &::before {
          content: "";
          width: 13px;
          aspect-ratio: 1/0.55;
          background: url(images/common/icon-arrow01_vertical_bl.svg) no-repeat
            center/contain;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 3rem;
        }
        select {
          width: 42.4rem;
          padding: 1.3rem 2.3rem;
          @include c.mq() {
            width: 100%;
          }
        }
      }
      .btn-chart {
        position: relative;
        width: 27.7rem;
        aspect-ratio: 1/0.17;
        display: flex;
        align-items: center;
        justify-content: center;
        background: v.$grade01;
        color: #fff;
        padding-right: 3rem;
        &::before {
          content: "";
          width: 2.4rem;
          aspect-ratio: 1/1.08;
          background: url(images/common/icon_pdf.svg) no-repeat center/contain;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 2.4rem;
        }
      }
      .delete-product {
        position: absolute;
        top: 0rem;
        right: 0rem;
        width: 3rem;
        aspect-ratio: 1/1;
        background: url(images/common/icon-delete.svg) no-repeat center/contain;
      }
      .simu-step01,
      .simu-step02,
      .simu-step03 {
        margin-bottom: 2rem;
        .ttl {
          font-size: 2.4rem;
          font-weight: 500;
          letter-spacing: 1px;
          color: #fff;
          background-color: v.$sub-color01;
          padding: 1.5rem 2.5rem;
          margin-bottom: 2rem;
          @include c.mq() {
            font-size: 2rem;
            line-height: 1.5;
            padding: 1rem 2rem;
          }
        }
        .explan {
          line-height: 1.5;
          margin-bottom: 4rem;
          @include c.mq() {
            margin-bottom: 3rem;
          }
        }
      }
      .simu-step01 {
        .item-list {
          flex-wrap: wrap;
          gap: 2.5rem;
          @include c.mq() {
            gap: 1rem;
          }
          button {
            width: calc((100% / 3) - (5rem / 3));
            padding: 1rem 1.5rem;
            border: 1px solid #777;
            border-radius: 5px;
            @include c.mq() {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 1.5rem;
            }
            &:hover {
              border: 2px solid v.$sub-color02;
            }
            .img-box {
              text-align: center;
              @include c.mq() {
                width: 45%;
              }
              img {
                width: 20rem;
                @include c.mq() {
                  width: 100%;
                }
              }
            }
            .name {
              font-size: 1.3rem;
              font-weight: 700;
              margin-bottom: 0.5rem;
              @include c.mq() {
                font-size: 1.5rem;
              }
              span {
                font-size: 1.4rem;
              }
            }
            .price {
              font-size: 1.8rem;
              @include c.mq() {
                font-size: 1.6rem;
              }
              span {
                font-size: 1.2rem;
              }
            }
            &.active {
              border: 2px solid v.$sub-color02;
            }
          }
        }
      }
      .simu-step02 {
        margin-top: -2rem;
        padding-top: 10rem;
        @include c.mq() {
          margin-top: -5rem;
          padding-top: 10rem;
        }
        .block {
          position: relative;
          padding: 2.5rem 2rem;
          border: 2px solid v.$sub-color01;
          border-radius: 5px;
          margin-bottom: 2rem;
          &:nth-child(n + 2) {
            margin-top: 4rem;
          }
          .delete-block {
            position: absolute;
            top: 0rem;
            right: 0rem;
            width: 3rem;
            aspect-ratio: 1/1;
            background: url(images/common/icon-delete.svg) no-repeat
              center/contain;
          }
          .color-wrap,
          .size-wrap {
            p {
              font-size: 2rem;
              margin-bottom: 1.5rem;
              @include c.mq() {
                font-size: 1.8rem;
              }
            }
          }
          .color-wrap {
            margin-bottom: 4rem;
            @include c.mq() {
              margin-bottom: 3rem;
            }
            .flex {
              justify-content: space-between;
              @include c.mq() {
                flex-direction: column;
                gap: 1rem;
              }
            }
          }
          .size-wrap {
            .flex {
              flex-wrap: wrap;
              gap: 1.2rem;
              margin-bottom: 2.5rem;
              .box {
                width: calc((100% / 5) - (4.8rem / 5));
                border: 1px solid #777;
                @include c.mq() {
                  width: calc((100% / 2) - (2.4rem / 2));
                }
                p {
                  font-size: 1.8rem;
                  text-align: center;
                  background-color: #dfdfdf;
                  border-bottom: 1px solid #777;
                }
                div {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  padding: 0 1.5rem 2rem;
                  font-size: 1.6rem;
                  input {
                    width: 9.4rem;
                    padding: 0.4rem 0 0.4rem 5rem;
                    @include c.mq() {
                      width: 8rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .simu-step03 {
        margin-bottom: 3rem;
        .print-position,
        .hukurozume {
          p {
            font-size: 2rem;
            margin-bottom: 1.5rem;
          }
        }
        .print-position {
          gap: 6rem;
          margin-bottom: 2.8rem;
          @include c.mq() {
            position: relative;
          }
          .left {
            max-width: 42rem;
            @include c.mq() {
              width: 15rem;
            }
            .checkboxes {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
              div {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                label {
                  font-size: 1.6rem;
                  font-weight: 500;
                }
              }
            }
          }
          .right {
            width: 28rem;
            @include c.mq() {
              width: 20rem;
              position: absolute;
              top: 6rem;
              right: 0;
            }
          }
        }
        .hukurozume {
          .flex {
            gap: 4rem;
            @include c.mq() {
              flex-direction: column;
              gap: 1.5rem;
            }
            div {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }
          }
          label {
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }
    }
    .btn-result {
      width: 92rem;
      aspect-ratio: 1/0.09;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 7.5rem auto 0;
      background: v.$grade01;
      font-size: 2rem;
      letter-spacing: 1px;
      font-weight: 700;
      color: #fff;
      @include c.mq() {
        width: 90%;
        aspect-ratio: 1/0.18;
        margin-top: 5rem;
        font-size: 1.6rem;
      }
    }
  }
  .result-wrap {
    position: relative;
    margin-bottom: 12rem;
    @include c.mq() {
      margin-bottom: 8rem;
    }
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 70px 119.5px 0 119.5px;
      border-color: #f3f2f7 transparent transparent transparent;
      position: absolute;
      bottom: -5rem;
      left: 50%;
      transform: translateX(-50%);
      @include c.mq() {
        bottom: -4rem;
      }
    }
    .result-arrow {
      width: 12.1rem;
      margin: 2rem auto 3rem;
    }
    .result-content {
      max-width: 84rem;
      margin: 0 auto;
      background-color: v.$sub-color03;
      @include c.mq() {
        width: 100vw;
        margin-left: calc(((100vw - 90vw) / 2) * -1);
      }
      .ttl {
        font-size: 2.4rem;
        font-weight: 500;
        text-align: center;
        color: #fff;
        background-color: v.$sub-color01;
        padding: 2.7rem 0;
        @include c.mq() {
          font-size: 2rem;
          padding: 2rem 0;
        }
      }
      .block_wrap {
        padding: 3rem 4.5rem 6rem;
        @include c.mq() {
          padding: 3rem 1rem 6rem;
        }
      }
      .block {
        margin-bottom: 3rem;
        @include c.mq() {
          margin-bottom: 2rem;
        }
        .name {
          font-size: 1.8rem;
          padding-bottom: 1.25rem;
          border-bottom: 1px solid #000;
          margin-bottom: 1.2rem;
          @include c.mq() {
            font-size: 1.4rem;
          }
        }
        .group {
          padding-left: 5rem;
          justify-content: space-between;
          margin-bottom: 1rem;
          @include c.mq() {
            padding-left: 0;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
          p {
            font-size: 1.4rem;
            font-weight: 400;
            @include c.mq() {
              font-size: 1.2rem;
            }
            span {
              font-size: 1.8rem;
              font-weight: 500;
              margin-left: 2rem;
              @include c.mq() {
                font-size: 1.2rem;
                margin-left: 0.5rem;
              }
            }
          }
          .child {
            flex-basis: 60%;
            @include c.mq() {
              flex-basis: 57%;
            }
            div {
              display: flex;
              justify-content: space-between;
              p {
                flex-basis: 27%;
                @include c.mq() {
                  flex-basis: 33%;
                }
                &:first-of-type {
                  flex-basis: 37%;
                }
                &:last-of-type {
                  text-align: end;
                  @include c.mq() {
                    flex-basis: 25%;
                  }
                }
                span {
                  margin-left: 0;
                }
              }
            }
          }
        }
        .item-total {
          justify-content: flex-end;
          align-items: center;
          gap: 11rem;
          padding-top: 1.5rem;
          border-top: 1px solid #aaa9ad;
          margin-left: 5rem;
          @include c.mq() {
            margin-left: 0;
            gap: 4rem;
          }
          @include c.mq() {
            padding-top: 1rem;
          }
          p {
            font-size: 1.8rem;
            @include c.mq() {
              font-size: 1.6rem;
            }
            span {
              font-size: 2.4rem;
              @include c.mq() {
                font-size: 1.8rem;
              }
            }
          }
        }
        &.print-position,
        &.option {
          p {
            font-size: 1.6rem;
            @include c.mq() {
              font-size: 1.4rem;
            }
            span {
              font-size: 1.8rem;
              font-weight: 500;
            }
          }
        }
        &.option {
          margin-bottom: 6rem;
        }
      }
      .total-price {
        justify-content: flex-end;
        align-items: end;
        gap: 14.6rem;
        padding: 2rem 2rem 1.8rem;
        color: #fff;
        background: v.$grade01;
        @include c.mq() {
          gap: 2rem;
          padding: 1.5rem 2rem 1rem;
        }
        p {
          font-size: 2rem;
          @include c.mq() {
            font-size: 1.5rem;
          }
          span {
            font-size: 1.5rem;
          }
          &.price {
            font-size: 3rem;
            font-weight: 700;
            @include c.mq() {
              font-size: 2.4rem;
            }
          }
        }
      }
    }
  }
  .contact-wrap {
    h2 {
      font-size: 3rem;
      font-weight: 700;
      color: v.$sub-color01;
      text-align: center;
      margin-bottom: 4rem;
      @include c.mq() {
        font-size: 2rem;
      }
    }
    form {
      width: 76rem;
      margin: 0 auto;
      @include c.mq() {
        width: 100%;
      }
      table {
        table-layout: fixed;
        width: 100%;
        margin-bottom: 6rem;
        @include c.mq() {
          margin-bottom: 4rem;
        }
        tr {
          display: block;
          padding: 2rem;
          &:nth-child(odd) {
            background-color: v.$sub-color03;
          }
          &:last-child {
            th {
              padding-top: 1rem;
              vertical-align: baseline;
              @include c.mq() {
                padding-top: 0;
              }
            }
          }
          th,
          td {
            font-size: 1.6rem;
            letter-spacing: 1px;
            @include c.mq() {
              display: block;
              width: 100%;
            }
          }
          th {
            width: 40%;
            vertical-align: middle;
            font-weight: 600;
            position: relative;
            @include c.mq() {
              width: 100%;
              padding-bottom: 1rem;
              display: flex;
              gap: 2rem;
              align-items: center;
            }
            span {
              display: inline-block;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 4em;
              font-size: 1.2rem;
              color: #fff;
              padding: 0.1rem 1rem;
              background-color: #ff370a;
              border-radius: 2px;
              @include c.mq() {
                position: static;
                transform: none;
                font-size: 1rem;
              }
            }
          }
          td {
            input,
            textarea {
              width: 48.5rem;
              background-color: #fafafa;
              border: 1px solid v.$sub-color01;
              border-radius: 5px;
              padding: 1rem 1.5rem;
              font-size: 1.6rem;
              letter-spacing: 1px;
              @include c.mq() {
                width: 100%;
              }
            }
          }
        }
      }
      .btn-submit {
        position: relative;
        width: 35rem;
        aspect-ratio: 1/0.21;
        display: flex;
        align-self: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        background: v.$grade01;
        border-radius: 100vmax;
        margin: 0 auto;
        &::before {
          content: "";
          width: 10px;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10rem;
        }
      }
    }
  }
}
.wrap_thanks {
  padding: 15rem 0 20rem;
  background: url(images/common/form_bg.svg) no-repeat top/contain;
  @include c.mq() {
    background: url(images/common/form_bg_sp.svg) no-repeat top/contain;
    padding: 10rem 0;
  }
  h2 {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 6rem;
    @include c.mq() {
      font-size: 2rem;
      line-height: 1.5;
      margin-bottom: 4rem;
    }
  }
  .text {
    text-align: center;
    line-height: 2;
    margin-bottom: 3rem;
    @include c.mq() {
      text-align: left;
      line-height: 1.7;
      margin-bottom: 2rem;
    }
  }
  .contact-tel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: v.$sub-color01;
    max-width: 60rem;
    padding: 4rem 2rem;
    margin: 6rem auto 4rem;
    @include c.mq() {
      flex-direction: column;
      gap: 1.5rem;
      padding: 2rem 1rem;
      margin: 4rem 0 2rem;
    }
    p,
    a {
      color: #fff;
    }
    .txt {
      font-size: 1.8rem;
    }
    a {
      display: flex;
      font-size: 2.4rem;
      line-height: 1;
      letter-spacing: 2px;
      font-weight: 700;
      img {
        margin-top: 2px;
      }
    }
    p {
      text-align: center;
      font-size: 1.2rem;
      letter-spacing: 0.6px;
    }
  }
  .btn-wrap {
    text-align: center;
    .btn-prev {
      position: relative;
      font-weight: 700;
      text-align: center;
      color: v.$sub-color02;
      &::before {
        content: "";
        width: 10px;
        aspect-ratio: 1/1;
        background: v.$grade01;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2rem;
      }
    }
  }
}
